<footer class="py-10">
  {{/* Footer menu */}}
  {{ if .Site.Menus.footer }}
    <nav class="pb-4 text-base font-medium text-neutral-500 dark:text-neutral-400">
      <ul class="flex flex-col list-none sm:flex-row">
        {{ range .Site.Menus.footer }}
          <li class="mb-1 sm:mb-0 sm:mr-7 sm:last:mr-0">
            <a
              class="decoration-primary-500 hover:underline hover:decoration-2 hover:underline-offset-2"
              href="{{ .URL }}"
              title="{{ .Title }}"
              >{{ .Name | markdownify | emojify }}</a
            >
          </li>
        {{ end }}
      </ul>
    </nav>
  {{ end }}
  <div class="flex justify-between">
    <div>
      {{/* Extra stuff from MexFlux */}}
      <p class="text-sm text-neutral-400 dark:text-neutral-500"> <a href="/privacy/aviso-privacidad">Aviso de privacidad</a> | <a href="/privacy/privacy-notice">Privacy notice</a>
      </p>
      {{/* Copyright */}}
      <p class="text-sm text-neutral-500 dark:text-neutral-400">
        {{- with .Site.Params.copyright }}
          {{ . | emojify | markdownify }}
        {{- else }}
          &copy;
          {{ now.Format "2006" }}
          {{ .Site.Author.name | markdownify | emojify }}
        {{- end }}
      </p>
      {{/* Theme attribution */}}
      {{ if .Site.Params.attribution | default true }}
        <p class="text-xs text-neutral-500 dark:text-neutral-400">
          {{ $hugo := printf `<a class="hover:underline hover:decoration-primary-400 hover:text-primary-500"
            href="https://gohugo.io/" target="_blank" rel="noopener noreferrer">Hugo</a>`
          }}
          {{ $congo := printf `<a class="hover:underline hover:decoration-primary-400 hover:text-primary-500" href="https://git.io/hugo-congo" target="_blank" rel="noopener noreferrer">Congo</a>` }}
          {{ i18n "footer.powered_by" (dict "Hugo" $hugo "Congo" $congo) | safeHTML }}
        </p>
      {{ end }}
    </div>
    {{/* Appearance switch */}}
    {{ if .Site.Params.showAppearanceSwitcher | default false }}
      <div
        class="text-sm cursor-pointer text-neutral-700 dark:text-neutral hover:text-primary-600 dark:hover:text-primary-400 {{ if .Site.Params.showScrollToTop | default true -}}
          ltr:mr-14 rtl:ml-14
        {{- end }}"
      >
        <button
          id="appearance-switcher"
          class="w-12 h-12 "
          type="button"
          title="{{ i18n "footer.dark_appearance" }}"
        >
          <span class="inline dark:hidden">{{ partial "icon.html" "moon" }}</span>
          <span class="hidden dark:inline">{{ partial "icon.html" "sun" }}</span>
        </button>
      </div>
    {{ end }}
  </div>
  {{/* Extend footer - eg. for extra scripts, etc. */}}
  {{ if templates.Exists "partials/extend-footer.html" }}
    {{ partialCached "extend-footer.html" . }}
  {{ end }}
</footer>
